.jeopardy-card {
    background: rgb(229, 229, 229);
    border: 1px solid black;
    border-radius: 5px;
}

.jeopardy-card:hover {
    background: rgb(248, 248, 248);
    border: 1px solid rgb(59, 59, 59);
}